.summary-card {
    background: #fff;
    margin: 10px;
    min-width: calc(33.333% - 20px);
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
    text-align: center
}

.summary-card .card-content {
    padding: 30px 20px 20px
}

.summary-card .card-title {
    display: block;
    font-size: 1.5em
}

.summary-card .card-count {
    display: block;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px
}

.summary-card .card-link {
    display: block;
    border-top: 1px solid #ddd;
    color: #000;
    padding: 12px 12px 20px
}

.input-group input,
.input-group textarea,
.input-group select {
    font-size: 20px;
    width: 100%
}

form .input-group + .input-group{
	margin-top: 30px;
}

form .input-group label,
form .input-group select,
form .input-group textarea,
form .input-group input{
	display: block;
	width: 100%;
}

form .input-group label{
	font-size: 1.15rem;
	color: #444;
}

form .input-group select, 
form .input-group textarea,
form .input-group input{
    background-color: #f7f7f7;
    border: 1px solid #C8C8C8;
    border-radius: 0.35rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); */
    outline: none;
}

form .input-group select,
form .input-group input{
    height: 3rem;
}

#qlEditorWrapper .ql-container,
#qlEditorWrapper .ql-editor{
    height: auto !important;
}

.text-primary,
.text-blue-900{
    color: var(--primary-color, #2c5282) !important;
}

.bg-primary{
    background: var(--primary-color, #2c5282) !important;
}

.input-group {
    margin: 20px 0;
}

.input-group label {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.35rem !important;
}

.input-group select, .input-group textarea, .input-group input {
    margin-top: 0.2rem;
    background-color: white;
    font-size: 1.1rem;
    padding: 0.65rem 0.8rem;
}

form > .mt-6{
    margin-top: -0.1rem !important;
}